<template>
    <div class="container">
        <loading v-model:active="isLoading"
                 :can-cancel="true"
                 :on-cancel="onCancel"
                 :is-full-page="fullPage"/>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h1 class="text-center mb-3">Pacientes</h1>
                <div class="card mb-3">
                    <div class="card-header d-flex">
                    </div>
                    <div class="card-body d-flex flex-column">
                        <p v-for="(paciente, index) in usePacientes" :key="index" class="d-flex">
                            <span class="col-3">{{paciente.nombres}}</span>
                            <span class="col-3">{{paciente.apellidos}}</span>
                            <span class="col-3">{{paciente.dni}}</span>
                            <span class="col-3 d-flex justify-content-end">
                                <a :href="'/pacientes/' + paciente.slug" class="btn btn-primary mr-2">Ver</a>
                                <button class="btn btn-info mr-2" data-toggle="modal" data-target="#createUserModal" @click="setUpate(paciente, index)">Editar</button>
                                <button class="btn btn-danger" data-toggle="modal" data-target="#removeUserModal" @click="pacienteBorrar = index">Borrar</button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createUserModal" @click="createModal = true">Añadir Paciente</button>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" id="createUserModal" aria-labelledby="createUserModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Añadir paciente</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="createModal ? crearPaciente() : updatePaciente() ">
                        <div class="modal-body row">
                            <div class="col-12 col-md-4 d-flex flex-column form-group">
                                <label for="nombres">Nombres</label>
                                <input type="text" v-bind:class="{'form-control':true, 'is-invalid' : errors.nombres}" v-model="usePaciente.nombres" name="nombres" id="nombres" placeholder="Nombres" required/>
                                <div class="invalid-feedback">
                                    {{ errors.nombres }}
                                </div>
                            </div>

                            <div class="col-12 col-md-4 d-flex flex-column form-group">
                                <label for="apellidos">Apellidos</label>
                                <input type="text" v-bind:class="{'form-control':true, 'is-invalid' : errors.apellidos}" v-model="usePaciente.apellidos" name="apellidos" id="apellidos" placeholder="Apellidos" required/>
                                <div class="invalid-feedback">
                                    {{ errors.apellidos }}
                                </div>
                            </div>

                            <div class="col-12 col-md-4 d-flex flex-column form-group">
                                <label for="dni">DNI</label>
                                <input type="text" v-bind:class="{'form-control':true, 'is-invalid' : (!validateDNI() && usePaciente.dni.length > 0) || errors.dni}"  v-model="usePaciente.dni" name="dni" id="dni" placeholder="DNI" required/>
                                <div class="invalid-feedback">
                                    {{ errors.dni }}
                                </div>
                            </div>
                            <input v-if="!createModal" type="hidden" name="_method" value="PUT">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Crear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" id="removeUserModal" aria-labelledby="createUserModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">¿Estas seguro de que deseas borrar este paciente?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body d-flex justify-content-center">
                        <button type="button" class="btn btn-danger" @click="borrarPaciente">Borrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props: ['pacientes'],
        data: function () {
            return {
                usePacientes: Vue.util.extend({}, this.pacientes) ? Object.values(Vue.util.extend({}, this.pacientes)) : [] ,
                usePaciente: {
                    nombres: '',
                    apellidos: '',
                    dni: '',
                },
                createModal: true,
                errors: {
                    nombres: '',
                    apellidos: '',
                    dni: '',
                },
                pacienteBorrar: null,
                isLoading: false
            }
        },
        methods: {
            crearPaciente() {
                this.isLoading = true;
                this.axios
                    .post('/pacientes', this.usePaciente)
                    .then((response) => {
                        $('#createUserModal').modal('hide');
                        this.usePaciente.slug = response.data;
                        this.usePacientes.push(this.usePaciente);
                        this.resetFormData();
                    })
                    .catch((err) => {
                        if (err.response.status == 422 && err.response.data.errors) {
                            Object.entries(err.response.data.errors).forEach(([key, value]) => {
                                this.errors[key] = value[0];
                            });
                        }
                    })
                    .finally(() => this.isLoading = false);
            },

            validateDNI() {
                var numero, letras, letra;
                var expresion_regular_dni = /^[XYZ]?\d{5,8}[A-Z]$/;

                var dni = this.usePaciente.dni.toUpperCase();

                if(expresion_regular_dni.test(dni) === true){
                    numero = dni.substr(0,dni.length-1);
                    numero = numero.replace('X', 0);
                    numero = numero.replace('Y', 1);
                    numero = numero.replace('Z', 2);
                    letra = dni.substr(dni.length-1, 1);
                    numero = numero % 23;
                    letras = 'TRWAGMYFPDXBNJZSQVHLCKET';
                    letras = letras.substring(numero, numero+1);
                    if (letras != letra) {
                        this.errors.dni = 'DNI incorrecto';
                        return false;
                    }else{
                        return true;
                    }
                }else{
                    this.errors.dni = 'DNI incorrecto';
                    return false;
                }
            },

            resetFormData() {
                this.usePaciente = {
                    nombres: '',
                        apellidos: '',
                        dni: '',
                };
                this.errors =  {
                    nombres: '',
                        apellidos: '',
                        dni: '',
                };
            },

            setUpate(paciente, index) {
                this.usePaciente =  Vue.util.extend({},paciente);
                this.usePaciente.index = index;
                this.createModal = false;
            },

            updatePaciente() {
                this.axios
                    .post('/pacientes', this.usePaciente)
                    .then(() => {
                        $('#createUserModal').modal('hide');
                        this.usePacientes[this.usePaciente.index] = this.usePaciente;
                        this.resetFormData();
                    })
                    .catch((err) => {
                        if (err.response.status == 422 && err.response.data.errors) {
                            Object.entries(err.response.data.errors).forEach(([key, value]) => {
                                this.errors[key] = value[0];
                            });
                        }
                    })
                    .finally(() => this.isLoading = false);
            },

            borrarPaciente() {
                this.axios
                    .delete(`/pacientes/${this.pacientes[this.pacienteBorrar].slug}`)
                    .then(response => {
                        $('#removeUserModal').modal('hide');
                        this.usePacientes.splice(this.pacienteBorrar, 1);
                        this.pacienteBorrar = null;
                    }).catch((err) => {
                        console.error(err)
                    })
                    .finally(() => this.isLoading = false);
            }

        },
        mounted() {
        }
    }
</script>
