<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h1 class="text-center mb-3">Pacientes</h1>

                <div class="card mb-3">
                    <div class="card-header d-flex">
                    </div>
                    <div class="card-body d-flex flex-column">
                        <p class="d-flex">
                            <span class="col-3">{{paciente.nombres}}</span>
                            <span class="col-3">{{paciente.apellidos}}</span>
                            <span class="col-3">{{paciente.dni}}</span>
                            <span class="col-3">{{paciente.slug}}</span>
                        </p>
                    </div>
                </div>

                <h1 class="text-center mb-3">Diagnosticos</h1>

                <div class="card mb-3">
                    <div class="card-header d-flex">
                    </div>
                    <div class="card-body d-flex flex-column">
                        <p v-for="(diagnostico, index) in useDiagnosticos" :key="index" class="d-flex">
                            <span class="col-3">{{diagnostico.slug}}</span>
                            <span class="col-6">{{diagnostico.descripcion}}</span>
                            <span class="col-3 d-flex justify-content-end">
                                <button class="btn btn-info mr-2" data-toggle="modal" data-target="#createUserModal" @click="setUpate(diagnostico, index)">Editar</button>
                                <button class="btn btn-danger" data-toggle="modal" data-target="#removeUserModal" @click="diagnosticoBorrar = index">Borrar</button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createUserModal" @click="createModal = true">Añadir Diagnostico</button>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" id="createUserModal" aria-labelledby="createUserModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Añadir diagnostico</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="createModal ? crearDiagnostico() : updateDiagnostico() ">
                        <div class="modal-body row">
                            <div class="col-12 col-md-4 d-flex flex-column form-group">
                                <label for="descripcion">Descripción</label>
                                <input type="text" v-bind:class="{'form-control':true, 'is-invalid' : errors.descripcion}" v-model="useDiagnostico.descripcion" name="descripcion" id="descripcion" placeholder="Descripcion" required/>
                                <div class="invalid-feedback">
                                    {{ errors.descripcion }}
                                </div>
                            </div>

                            <input v-if="!createModal" type="hidden" name="_method" value="PUT">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Crear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" id="removeUserModal" aria-labelledby="createUserModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">¿Estas seguro de que deseas borrar este diagnostico?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body d-flex justify-content-center">
                        <button type="button" class="btn btn-danger" @click="borrarDiagnostico">Borrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    props: ['paciente', 'diagnosticos'],
    data: function () {
        return {
            useDiagnosticos: Vue.util.extend({}, this.diagnosticos) ? Object.values(Vue.util.extend({}, this.diagnosticos)) : [] ,
            useDiagnostico: {
                descripcion: '',
            },
            createModal: true,
            errors: {
                descripcion: '',
            },
            diagnosticoBorrar: null
        }
    },
    methods: {
        crearDiagnostico() {
            this.useDiagnostico.paciente_slug = this.paciente.slug;
            this.axios
                .post('/diagnosticos', this.useDiagnostico)
                .then((response) => {
                    this.useDiagnostico.slug = response.data;
                    this.useDiagnosticos.push(this.useDiagnostico);
                    this.resetFormData();
                    $('#createUserModal').modal('hide')
                })
                .catch((err) => {
                    if (err.response.status == 422 && err.response.data.errors) {
                        Object.entries(err.response.data.errors).forEach(([key, value]) => {
                            this.errors[key] = value[0];
                        });
                    }
                })
                .finally(() => this.isLoading = false);
        },

        resetFormData() {
            this.useDiagnostico = {
                descripcion: ''
            };
            this.errors = {
                descripcion: ''
            };
        },

        setUpate(diagnostico, index) {
            this.useDiagnostico =  Vue.util.extend({},diagnostico);
            this.useDiagnostico.index = index;
            this.createModal = false;
        },

        updateDiagnostico() {
            this.axios
                .post('/diagnosticos', this.useDiagnostico)
                .then(() => {
                    this.useDiagnosticos[this.useDiagnostico.index] = this.useDiagnostico;
                    this.resetFormData();
                    $('#createUserModal').modal('hide');
                })
                .catch((err) => {
                    if (err.response.status == 422 && err.response.data.errors) {
                        Object.entries(err.response.data.errors).forEach(([key, value]) => {
                            this.errors[key] = value[0];
                        });
                    }
                })
                .finally(() => this.isLoading = false);
        },

        borrarDiagnostico() {
            this.axios
                .delete(`/diagnosticos/${this.diagnosticos[this.diagnosticoBorrar].slug}`)
                .then(response => {
                    this.useDiagnosticos.splice(this.diagnosticoBorrar, 1);
                    this.diagnosticoBorrar = null;
                    $('#removeUserModal').modal('hide');
                }).catch((err) => {
                console.error(err)
            })
                .finally(() => this.isLoading = false);
        }

    },
    mounted() {
    }
}
</script>
